/* Colors */
:root {
  --PrimaryColor: hsl(50, 100%, 91%);
  --HoverColor: hsl(50, 100%, 81%);
  --whiteColor: hsl(0, 0, 100%);
  --blackColor: hsl(0, 0, 18%);
  --blackHover: hsla(0, 0%, 11%, 0.9);
  --textColor: hsl(240, 1%, 48%);
  --grayBG: hsl(0, 0%, 96%);
  --grayText: rgb(190, 190, 190);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --inputColor: hsl(330, 12%, 97%);
}

.home {
  height: 80vh;
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)), url(../../assets/hotel-mainBg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;

  .section-container {
    .home-text {
      text-align: center;
  
      .tagline-title {
        color: white;
        font-size: 2rem;
        font-weight: 500;
        font-family: 'Newsreader';

        .brand-name {
          font-family: 'Newsreader';
          font-weight: 600;
          font-style: italic;
        }
      }

      .hotel-description {
        color: white;
        font-family: 'Newsreader';
        font-size: 15px;
        font-weight: 300;
        padding: 1rem 0;

        .brand-name {
          font-family: 'Newsreader';
          font-weight: 400;
          font-style: italic;
          max-width: 70%;
          text-align: center;
          margin: auto;
        }
      }

      .btn {
        padding: .6rem 1.5rem;
        border-radius: 0%;

        &:hover {
          background: var(--blackHover);
        }

        a {
          font-family: 'Newsreader';
        }
      }
    }

    .home-card {
      width: 80%;
      border-radius: 1rem;
      padding: 2rem;
      background: white;
      position: absolute;
      gap: 1rem;
      justify-content: center;
      bottom: -35%;
      transform: translate(-50%);
      left: 50%;
      box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);

      .btn {
        color: white;
        border-radius: 0;
      }

      .location-div, .schedule-div, .price-div {
        width: 100%;

        label {
          display: block;
          color: var(--textColor);
          font-weight: 500;
          font-size: 13px;
          padding-bottom: .4rem;
        }

        input {
          width: 100%;
          background: var(--inputColor);
          border-radius: 10px;
          border: none;
          padding: 10px;
          font-size: 13px;
          font-weight: 500;

          &::placeholder {
            font-size: 13px;
            opacity: .5;
            font-weight: 400;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .btn {
        width: 100%;

        &:hover {
          background: var(--blackHover);
        }
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .home {
    .section-container {
      .home-card {
        bottom: -100px;
        width: 80%;
        height: 40%;
        grid-template-columns: repeat(1, 1fr);

        .location-div, .schedule-div, .price-div {
          label {
            font-size: 10px;
          }

          input {
            font-size: 10px;
          }
        }

        .btn {
          margin: auto;
          width: 80%;
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .home {
    .section-container {
      .home-card {
        bottom: -100px;
        width: 90%;
        grid-template-columns: repeat(2, 1fr);

        .btn {
          transform: translateY(15px);
        }
      }
    }
  }
}

@media screen and (min-width: 556px) {
  .home {
    .section-container {
      .home-text {
        .tagline-title {
          font-size: 2.5rem;
        }

        .hotel-description {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .home {
    .section-container {
      .home-text {
        .tagline-title {
          font-size: 3.5rem;
          line-height: 4rem;
          margin: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .home {
    .section-container {
      .home-card {
        bottom: -10%;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home {
    .section-container {
      .home-text {
        .hotel-description {
          font-size: 20px;
        }
      }

      .home-card {
        width: 70%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .home {
    .section-container {
      .home-text {
        padding: 1rem 10rem;
      }
    }
  }
}