:root {
  --PrimaryColor: hsl(50, 100%, 91%);
  --HoverColor: hsl(50, 100%, 81%);
  --WhiteColor: hsl(0, 0, 100%);
  --BlackColor: hsl(0, 0, 18%);
  --BlackHover: hsla(0, 0%, 11%, 0.9);
  --TextColor: hsl(240, 1%, 48%);
  --GrayBG: hsl(0, 0%, 96%);
  --GrayText: rgb(190, 190, 190);
  --WhiteColorDeam: hsl(0, 0%, 93%);
  --InputColor: hsl(330, 12%, 97%);
  // box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
}

