:root {
  --PrimaryColor: hsl(50, 100%, 91%);
  --HoverColor: hsl(50, 100%, 81%);
  --whiteColor: hsl(0, 0, 100%);
  --blackColor: hsl(0, 0, 18%);
  --LightDarkHover: hsla(0, 0%, 15%, 0.9);
  --blackHover: hsla(0, 0%, 11%, 0.9);
  --textColor: hsl(240, 1%, 48%);
  --grayBG: hsl(240, 1%, 66%);
  --grayText: rgb(190, 190, 190);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --inputColor: hsl(330, 12%, 97%);
  // box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
}

.about {
  .sec-container {
    .title {
      color: var(--blackColor);
      line-height: 1.5rem;
      padding-bottom: .5rem;
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Merriweather';
      font-weight: 700;
    }

    .main-content {
      gap: 1rem;

      .single-item {
        text-align: center;

        img {
          //background: rgba(247, 144, 54, 0.265);
          // border-radius: 50%;
          background: hsl(50, 100%, 71%);
          width: 500px;
          padding: 1rem;
          box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
        }

        h3 {
          font-weight: 550;
          color: var(--blackColor);
          padding: .5rem;
          font-family: 'Merriweather';
        }

        p {
          font-family: 'Newsreader';
          font-size: 13px;
          font-weight: 450;
          padding-bottom: .5rem;
          color: var(--blackColor);
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .about {
    .sec-container {
      .main-content {
        grid-template-columns: auto;
        .single-item {
          img {
            margin: auto;
            width: 400px;
          }

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  .about {
    .sec-container {
      .main-content {
        .single-item {
          img {
            width: 900px;
          }

          p {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 300px) {
  .about {
    .sec-container {
      .main-content {
        grid-template-columns: auto;
        .single-item {
          img {
            margin: auto;
            width: 350px;
          }

          p {
            font-size: .7rem;
          }
        }
      }
    }
  }
}