// .book-now-button {
//   background: #007bff;
//   color: white;
//   border: none;
//   padding: 12px 24px;
//   font-size: 18px;
//   border-radius: 6px;
//   cursor: pointer;
//   transition: 0.3s;
//   &:hover { background: #0056b3; }
// }

.modal-container {
  position: fixed; /* Keeps it centered on screen */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Takes full screen height */

  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    text-align: center;
    transform: scale(0.9);
    animation: fadeInScale 0.3s ease-in-out forwards;

    .step-1, .step-2, .step-3 {
      label {
        display: block;
        margin: 10px 0;
        font-weight: bold;

        input, select {
          width: 100%;
          padding: 10px;
          margin-top: 5px;
          border: 1px solid #ddd;
          border-radius: 6px;
        }
      }

      .confirm-button {
        font-size: 1rem !important;
      }

      .next-button, .confirm-button {
        background: #28a745;
        margin: auto;
        color: white;
        border: none;
        width: 10rem;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 15px;
        transition: 0.3s;
        font-family: Oswald;
        letter-spacing: .1cap;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
          background: #218838;
        }
      }
    }

    .back-button {
      margin: auto;
      color: black;
      width: 10rem;
      padding: 12px 20px;
      border: none;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 15px;
      transition: 0.3s;
      background: #ffd70f;
      font-family: Oswald;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .1cap;

      &:hover {
        background: #e6c62a;
      }
    }

    .close-button {
      margin: auto;
      color: red;
      border: 1px solid #ff0000;
      width: 10rem;
      padding: 12px 20px;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 15px;
      transition: 0.3s;
      background: none;
      font-family: Oswald;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: .1cap;

      &:hover {
        background: #c82333;
        color: white;
      }
    }
  }
}
  
@keyframes fadeInScale {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}