:root {
  /* color-scheme: light dark; */
  /* background: linear-gradient(to right, #000046, #1cb5e0); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Resets default margin, padding, and the browser*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}