// Color Theme
:root {
  --PrimaryColor: hsl(50, 100%, 91%);
  --HoverColor: hsl(50, 100%, 81%);
  --whiteColor: hsl(0, 0, 100%);
  --blackColor: hsl(0, 0, 18%);
  --LightDarkHover: hsla(0, 0%, 15%, 0.9);
  --blackHover: hsla(0, 0%, 11%, 0.9);
  --textColor: hsl(240, 1%, 48%);
  --grayBG: hsl(240, 1%, 66%);
  --grayText: rgb(190, 190, 190);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --inputColor: hsl(330, 12%, 97%);
  // box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
  // linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
  // linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522))
}

.food-section {
  height: 50vw;
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522) 75%, rgba(255,255,255,1) 100%), url(../../assets/hotel_garden.jpg) no-repeat center;
  background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  // padding: 2rem;

  .section-container {
    // position: absolute;
    flex-direction: column;
    // align-items: start;
    // gap: 1.5vw;
    // max-width: 50%;
    bottom: 60%;
    // left: 6vw;
    animation: fadeIn 3s;

    .header-text {
      text-align: center;
      color: white;

      .tagline-text {
        font-size: max(4.5vw, 22px);
        font-weight: 500;
        font-family: 'Newsreader';
      }

      .subtitle-text {
        font-family: 'Newsreader';
        font-size: 1vw;
      }
    }
  }
}