//Color
:root {
  --PrimaryColor: hsl(50, 100%, 91%);
  --HoverColor: hsl(50, 100%, 81%);
  --whiteColor: hsl(0, 0, 100%);
  --blackColor: hsl(0, 0, 18%);
  --blackHover: hsla(0, 0%, 11%, 0.9);
  --textColor: hsl(240, 1%, 48%);
  --grayBG: hsl(0, 0%, 96%);
  --grayText: rgb(190, 190, 190);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --inputColor: hsl(330, 12%, 97%);
  // box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
}

.user-container {
  margin: auto;
  padding: 9rem 3rem;

  .header-title {
    font-family: "Merriweather";
    font-weight: 700;
    text-align: center;
    color: var(--whiteColorDeam);
  }

  .booking-list {
    padding: 2rem 0;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

    .booking-card {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      background: #f3ebc8e4;
      padding: 2rem;
      align-items: center;
      border-radius: 10px;

      .btn {
        align-items: center;
        margin: 6px 7px;
        font-size: 1.1rem;
        text-align: center;
        padding: 10px;
        width: 45%;
        text-transform: uppercase;
        background-color: #8d7a69;
        cursor: pointer;
        font-weight: 500;
        color: #333;

        &:hover {
          background-color: var(--lightBrown);
          transform: scale(1.02);
        }
      }
    }
  }
}
